<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Kranse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>821A5C481D8F9A27002FAF8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>821A5C5C1D8F9A28002FAF8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>821A5C671D8F9A28002FAF8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
